@import "tailwindcss";

html {
  scroll-behavior: smooth;
}


body {
  font-family: 'Manrope', sans-serif;
}

.overflow-x-auto::-webkit-scrollbar{
  height: 5px;
}

.overflow-x-auto::-webkit-scrollbar-track{
  background: #2b2b2b; /* Dark gray track */
  border-radius: 10px;
}

.overflow-x-auto::-webkit-scrollbar-thumb{
   background-color: #ff0000;
  border-radius: 10px;
  width: 70px;
}